In [1]:
# Import our dependencies
import pandas as pd
import seaborn as sea
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as py
%matplotlib inline

df_load = '/Users/nikkichappelle/hotel_bookings1.1.csv'
hotels_df = pd.read_csv(df_load)
hotels_df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03

**Data Cleaning**

In [2]:
# Exploring the columns 
hotels_df.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type', 'agent',
       'company', 'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date'],
      dtype='object')

In [3]:
hotels_df['country'].describe()

count     118902
unique       177
top          PRT
freq       48590
Name: country, dtype: object

In [4]:
cancel_correlation = hotels_df.corr()["is_canceled"]
cancel_correlation.abs().sort_values(ascending=False)[1:]

lead_time                         0.293123
total_of_special_requests         0.234658
required_car_parking_spaces       0.195498
booking_changes                   0.144381
previous_cancellations            0.110133
is_repeated_guest                 0.084793
agent                             0.083114
adults                            0.060017
previous_bookings_not_canceled    0.057358
days_in_waiting_list              0.054186
adr                               0.047557
babies                            0.032491
stays_in_week_nights              0.024765
company                           0.020642
arrival_date_year                 0.016660
arrival_date_week_number          0.008148
arrival_date_day_of_month         0.006130
children                          0.005048
stays_in_weekend_nights           0.001791
Name: is_canceled, dtype: float64

In [5]:
# Finding null values
for column in hotels_df.columns:
    print(f"Column {column} has {hotels_df[column].isnull().sum()} null values.")

Column hotel has 0 null values.
Column is_canceled has 0 null values.
Column lead_time has 0 null values.
Column arrival_date_year has 0 null values.
Column arrival_date_month has 0 null values.
Column arrival_date_week_number has 0 null values.
Column arrival_date_day_of_month has 0 null values.
Column stays_in_weekend_nights has 0 null values.
Column stays_in_week_nights has 0 null values.
Column adults has 0 null values.
Column children has 4 null values.
Column babies has 0 null values.
Column meal has 0 null values.
Column country has 488 null values.
Column market_segment has 0 null values.
Column distribution_channel has 0 null values.
Column is_repeated_guest has 0 null values.
Column previous_cancellations has 0 null values.
Column previous_bookings_not_canceled has 0 null values.
Column reserved_room_type has 0 null values.
Column assigned_room_type has 0 null values.
Column booking_changes has 0 null values.
Column deposit_type has 0 null values.
Column agent has 16340 null values.
Column company has 112593 null values.
Column days_in_waiting_list has 0 null values.
Column customer_type has 0 null values.
Column adr has 0 null values.
Column required_car_parking_spaces has 0 null values.
Column total_of_special_requests has 0 null values.
Column reservation_status has 0 null values.
Column reservation_status_date has 0 null values.

In [6]:
# Finding duplicate values (Should I delete these entries, no unique identifier per booking so are they truly duplicates or..)
print(f"Duplicate entries: {hotels_df.duplicated().sum()}")

Duplicate entries: 31994

In [7]:
# Copy of original df first
hotels_df_2 = hotels_df.copy()

# Dropping the 'agent' and 'company' columns 
hotels_df_2.drop(columns = ['agent', 'company'], inplace=True)
hotels_df_2.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type',
       'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date'],
      dtype='object')

In [8]:
# Dropping the 4 ROWS with missing 'children' data
# Dropping the 488 ROWS with missing 'country' data
hotels_df_2 = hotels_df_2.dropna()

# Rechecking NaN values 
for column in hotels_df_2.columns:
    print(f"Column {column} has {hotels_df_2[column].isnull().sum()} null values.")

Column hotel has 0 null values.
Column is_canceled has 0 null values.
Column lead_time has 0 null values.
Column arrival_date_year has 0 null values.
Column arrival_date_month has 0 null values.
Column arrival_date_week_number has 0 null values.
Column arrival_date_day_of_month has 0 null values.
Column stays_in_weekend_nights has 0 null values.
Column stays_in_week_nights has 0 null values.
Column adults has 0 null values.
Column children has 0 null values.
Column babies has 0 null values.
Column meal has 0 null values.
Column country has 0 null values.
Column market_segment has 0 null values.
Column distribution_channel has 0 null values.
Column is_repeated_guest has 0 null values.
Column previous_cancellations has 0 null values.
Column previous_bookings_not_canceled has 0 null values.
Column reserved_room_type has 0 null values.
Column assigned_room_type has 0 null values.
Column booking_changes has 0 null values.
Column deposit_type has 0 null values.
Column days_in_waiting_list has 0 null values.
Column customer_type has 0 null values.
Column adr has 0 null values.
Column required_car_parking_spaces has 0 null values.
Column total_of_special_requests has 0 null values.
Column reservation_status has 0 null values.
Column reservation_status_date has 0 null values.

In [9]:
# Dropping more columns that may not be necessary for our analysis 
# Drop "reservation_status_date", "reserved_room_type", "assigned_room_type", "arrival_date_week_number", "distribution_channel"
hotels_df_2.drop(columns = ["reservation_status_date", "reserved_room_type", "assigned_room_type", "arrival_date_week_number", "distribution_channel"], inplace=True)
hotels_df_2.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_day_of_month',
       'stays_in_weekend_nights', 'stays_in_week_nights', 'adults', 'children',
       'babies', 'meal', 'country', 'market_segment', 'is_repeated_guest',
       'previous_cancellations', 'previous_bookings_not_canceled',
       'booking_changes', 'deposit_type', 'days_in_waiting_list',
       'customer_type', 'adr', 'required_car_parking_spaces',
       'total_of_special_requests', 'reservation_status'],
      dtype='object')

In [10]:
# Export clean dataset
# upload to database? 
hotels_df_2.to_csv('/Users/nikkichappelle/clean_hotel_df.csv', encoding='utf-8-sig', index=False)

**Data Preprocessing for Machine Learning Model**

In [11]:
# Importing libraries

import pandas as pd

# Import our input dataset
df_2 = pd.read_csv('/Users/nikkichappelle/clean_hotel_df.csv')
df_2.head(10)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,...,previous_cancellations,previous_bookings_not_canceled,booking_changes,deposit_type,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status
0,Resort Hotel,0,342,2015,July,1,0,0,2,0.0,...,0,0,3,No Deposit,0,Transient,0.0,0,0,Check-Out
1,Resort Hotel,0,737,2015,July,1,0,0,2,0.0,...,0,0,4,No Deposit,0,Transient,0.0,0,0,Check-Out
2,Resort Hotel,0,7,2015,July,1,0,1,1,0.0,...,0,0,0,No Deposit,0,Transient,75.0,0,0,Check-Out
3,Resort Hotel,0,13,2015,July,1,0,1,1,0.0,...,0,0,0,No Deposit,0,Transient,75.0,0,0,Check-Out
4,Resort Hotel,0,14,2015,July,1,0,2,2,0.0,...,0,0,0,No Deposit,0,Transient,98.0,0,1,Check-Out
5,Resort Hotel,0,14,2015,July,1,0,2,2,0.0,...,0,0,0,No Deposit,0,Transient,98.0,0,1,Check-Out
6,Resort Hotel,0,0,2015,July,1,0,2,2,0.0,...,0,0,0,No Deposit,0,Transient,107.0,0,0,Check-Out
7,Resort Hotel,0,9,2015,July,1,0,2,2,0.0,...,0,0,0,No Deposit,0,Transient,103.0,0,1,Check-Out
8,Resort Hotel,1,85,2015,July,1,0,3,2,0.0,...,0,0,0,No Deposit,0,Transient,82.0,0,1,Canceled
9,Resort Hotel,1,75,2015,July,1,0,3,2,0.0,...,0,0,0,No Deposit,0,Transient,105.5,0,0,Canceled

In [12]:
#Drop more columns

df_2.drop(columns = ["reservation_status"], inplace=True)
df_2.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_day_of_month',
       'stays_in_weekend_nights', 'stays_in_week_nights', 'adults', 'children',
       'babies', 'meal', 'country', 'market_segment', 'is_repeated_guest',
       'previous_cancellations', 'previous_bookings_not_canceled',
       'booking_changes', 'deposit_type', 'days_in_waiting_list',
       'customer_type', 'adr', 'required_car_parking_spaces',
       'total_of_special_requests'],
      dtype='object')

In [13]:
# Making a copy of the df
df_enc = df_2.copy()

In [14]:
# Encoding month column values
months_num = {
    "January": 1,
    "February": 2,
    "March": 3,
    "April": 4,
    "May": 5,
    "June": 6,
    "July": 7,
    "August": 8,
    "September": 9,
    "October": 10,
    "November": 11,
    "December": 12,
}


df_enc['arrival_date_month'] = df_enc['arrival_date_month'].apply(lambda x : months_num[x])
df_enc.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,...,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,booking_changes,deposit_type,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests
0,Resort Hotel,0,342,2015,7,1,0,0,2,0.0,...,0,0,0,3,No Deposit,0,Transient,0.0,0,0
1,Resort Hotel,0,737,2015,7,1,0,0,2,0.0,...,0,0,0,4,No Deposit,0,Transient,0.0,0,0
2,Resort Hotel,0,7,2015,7,1,0,1,1,0.0,...,0,0,0,0,No Deposit,0,Transient,75.0,0,0
3,Resort Hotel,0,13,2015,7,1,0,1,1,0.0,...,0,0,0,0,No Deposit,0,Transient,75.0,0,0
4,Resort Hotel,0,14,2015,7,1,0,2,2,0.0,...,0,0,0,0,No Deposit,0,Transient,98.0,0,1

In [15]:
from sklearn.preprocessing import StandardScaler, OneHotEncoder

In [16]:
hotel_cat = df_enc.dtypes[df_enc.dtypes == 'object'].index.tolist()

df_enc[hotel_cat].nunique()

hotel               2
meal                5
country           177
market_segment      7
deposit_type        3
customer_type       4
dtype: int64

In [17]:
# Create OneHotEncoder instance 
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(df_enc[hotel_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(hotel_cat)
encode_df.head()

/Users/nikkichappelle/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,hotel_City Hotel,hotel_Resort Hotel,meal_BB,meal_FB,meal_HB,meal_SC,meal_Undefined,country_ABW,country_AGO,country_AIA,...,market_segment_Groups,market_segment_Offline TA/TO,market_segment_Online TA,deposit_type_No Deposit,deposit_type_Non Refund,deposit_type_Refundable,customer_type_Contract,customer_type_Group,customer_type_Transient,customer_type_Transient-Party
0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0

In [18]:
# Merge one-hot encoded features and drop the originals
df_enc = df_enc.merge(encode_df,left_index=True, right_index=True)
df_enc = df_enc.drop(hotel_cat,1)
df_enc.head()

/var/folders/yn/0xr1v8154tb3780j06cqgtf80000gn/T/ipykernel_6898/439744097.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df_enc = df_enc.drop(hotel_cat,1)

,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,...,market_segment_Groups,market_segment_Offline TA/TO,market_segment_Online TA,deposit_type_No Deposit,deposit_type_Non Refund,deposit_type_Refundable,customer_type_Contract,customer_type_Group,customer_type_Transient,customer_type_Transient-Party
0,0,342,2015,7,1,0,0,2,0.0,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0,737,2015,7,1,0,0,2,0.0,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0,7,2015,7,1,0,1,1,0.0,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0,13,2015,7,1,0,1,1,0.0,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0,14,2015,7,1,0,2,2,0.0,0,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0

In [19]:
# Split our preprocessed data into our features and target arrays
y = df_enc["is_canceled"].values
X = df_enc.drop(["is_canceled"],1).values

from sklearn.model_selection import train_test_split
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size =0.3, random_state=0)

/var/folders/yn/0xr1v8154tb3780j06cqgtf80000gn/T/ipykernel_6898/2619995042.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  X = df_enc.drop(["is_canceled"],1).values

In [20]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

**Model Building: Logistic Regression**

In [21]:
# Create our logistic regression model

from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(solver='lbfgs', max_iter=100, random_state=1)
classifier

LogisticRegression(random_state=1)

In [22]:
# Training the model
classifier.fit(X_train_scaled, y_train)

/Users/nikkichappelle/opt/anaconda3/lib/python3.9/site-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression(random_state=1)

In [23]:
# Create predictions
y_pred = classifier.predict(X_test_scaled)
pd.DataFrame({"Prediction": y_pred, "Actual": y_test})

       Prediction  Actual
0               0       0
1               1       1
2               0       1
3               0       1
4               0       0
...           ...     ...
35665           1       1
35666           1       1
35667           1       1
35668           0       1
35669           0       1

[35670 rows x 2 columns]

In [24]:
# Validate the model's performance
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_pred))

0.808915054667788

In [25]:
# Validating the model using the test data
print(f"Training Data Score: {classifier.score(X_train_scaled, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test_scaled, y_test)}")

Training Data Score: 0.812755322727928
Testing Data Score: 0.808915054667788

In [26]:
# Confusion Matrix 
from sklearn.metrics import confusion_matrix, classification_report
matrix = confusion_matrix(y_test, y_pred)
print(matrix)

[[20279  2054]
 [ 4762  8575]]

In [27]:
# Classification Report
report = classification_report(y_test, y_pred)
print(report)

              precision    recall  f1-score   support

           0       0.81      0.91      0.86     22333
           1       0.81      0.64      0.72     13337

    accuracy                           0.81     35670
   macro avg       0.81      0.78      0.79     35670
weighted avg       0.81      0.81      0.80     35670

**Model Building: Random Forrest Classifier**

In [28]:
from sklearn.ensemble import RandomForestClassifier

In [ ]:
# Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=128, random_state=78)

In [ ]:
# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

In [ ]:
# Making predictions using the testing data.
predictions = rf_model.predict(X_test_scaled)

In [ ]:
# Calculating the confusion matrix.
cm = confusion_matrix(y_test, predictions)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

cm_df

In [33]:
# Calculating the accuracy score.
acc_score = accuracy_score(y_test, predictions)
acc_score

0.8835435940566302

In [34]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0        20889         1444
Actual 1         2710        10627

Accuracy Score : 0.8835435940566302
Classification Report
              precision    recall  f1-score   support

           0       0.89      0.94      0.91     22333
           1       0.88      0.80      0.84     13337

    accuracy                           0.88     35670
   macro avg       0.88      0.87      0.87     35670
weighted avg       0.88      0.88      0.88     35670

In [36]:
importances = rf_model.feature_importances_
importances

array([1.34814019e-01, 2.61484350e-02, 5.20168101e-02, 6.89575357e-02,
       2.73733794e-02, 4.28889373e-02, 1.64125063e-02, 8.53687301e-03,
       1.08214800e-03, 2.98288600e-03, 2.95275972e-02, 5.23830762e-03,
       2.05246612e-02, 3.44714236e-03, 9.05762331e-02, 2.06119223e-02,
       5.75221306e-02, 7.09033508e-03, 7.13722694e-03, 6.38429284e-03,
       9.50053382e-04, 4.60984829e-03, 3.75357618e-03, 9.90285785e-04,
       4.60862637e-06, 1.13129720e-03, 3.59632576e-06, 1.49148424e-05,
       2.88212427e-05, 3.64831542e-04, 4.01287088e-04, 7.98525035e-06,
       2.08425708e-06, 5.10559258e-06, 9.88808775e-06, 7.51797054e-04,
       1.75621180e-03, 4.75380709e-05, 2.23047682e-06, 2.20474715e-03,
       1.28212320e-05, 8.17442701e-07, 4.14394768e-05, 1.50624632e-04,
       2.89577010e-05, 8.33051344e-07, 2.40905529e-05, 9.15240777e-05,
       8.46951231e-06, 2.58794040e-03, 1.88637993e-06, 0.00000000e+00,
       3.07292257e-06, 2.17981403e-03, 1.25059615e-04, 1.90594236e-03,
       1.31155821e-05, 2.22125468e-05, 1.65821294e-03, 2.13656543e-04,
       0.00000000e+00, 6.34904434e-05, 1.34349346e-05, 6.13624315e-06,
       4.97066099e-07, 8.45415882e-05, 3.50855666e-04, 5.74116030e-03,
       7.37280502e-07, 1.52994053e-06, 7.16565534e-04, 4.53139109e-05,
       1.80010982e-04, 1.35561566e-04, 4.94607654e-05, 5.54072229e-03,
       2.00140593e-04, 7.85612729e-06, 7.19305889e-04, 2.34809863e-06,
       7.14448363e-03, 6.26866093e-06, 1.24054021e-06, 8.23724232e-03,
       8.96289254e-05, 2.69583633e-06, 2.19054720e-05, 1.56990853e-04,
       1.05515070e-05, 1.78687771e-05, 2.33025351e-04, 0.00000000e+00,
       1.42142639e-08, 1.33369940e-04, 0.00000000e+00, 2.07607023e-04,
       5.53103049e-04, 1.54301362e-04, 1.38379078e-05, 3.44878235e-04,
       3.10736722e-03, 3.25113441e-04, 6.81511870e-06, 8.57545092e-05,
       1.00324488e-03, 3.25379177e-03, 4.08383697e-06, 4.89185578e-05,
       2.55100300e-05, 3.43682508e-04, 3.26438135e-05, 2.86671603e-05,
       7.38854097e-06, 0.00000000e+00, 7.63972694e-07, 3.01224091e-04,
       6.29311630e-05, 1.52243795e-06, 1.17255710e-04, 4.71482179e-06,
       1.03038573e-06, 1.50837600e-05, 4.64247306e-06, 1.28398282e-04,
       7.20960722e-04, 8.81332217e-05, 1.39756602e-04, 6.96242804e-04,
       5.42422965e-06, 2.42571638e-07, 7.23941606e-05, 1.47990242e-04,
       4.86530998e-06, 0.00000000e+00, 8.20709007e-05, 0.00000000e+00,
       1.23668882e-05, 2.09575753e-04, 4.04010413e-06, 1.71114420e-05,
       7.86822285e-08, 7.04781080e-05, 1.39045007e-05, 0.00000000e+00,
       3.26477000e-06, 2.07038469e-04, 9.58469168e-06, 2.14761444e-03,
       9.35801464e-04, 3.34474812e-07, 1.96334729e-04, 3.71068669e-05,
       3.32072414e-05, 2.57676137e-05, 6.31110892e-05, 2.79807166e-04,
       2.27922841e-06, 1.20126780e-03, 3.28899173e-05, 6.20123169e-02,
       3.04150931e-05, 0.00000000e+00, 1.10525201e-04, 9.36793010e-04,
       1.15945116e-03, 3.03468095e-06, 2.14450201e-04, 0.00000000e+00,
       3.47479522e-05, 1.26427513e-04, 6.85822053e-06, 3.85087913e-06,
       0.00000000e+00, 1.01312840e-04, 4.36113232e-07, 1.13363336e-05,
       1.68227275e-04, 1.78843169e-04, 1.45235591e-03, 1.15656308e-05,
       8.41891753e-08, 6.80448721e-06, 1.88444807e-04, 1.81791292e-05,
       1.74920117e-05, 1.41265515e-04, 6.49585339e-04, 1.13691357e-04,
       4.32431402e-05, 1.35762729e-05, 1.46077703e-04, 0.00000000e+00,
       7.84160863e-05, 2.34911603e-03, 1.50996934e-05, 1.37753463e-04,
       2.85689333e-06, 9.83645697e-06, 2.53712882e-04, 2.22156273e-05,
       1.43861962e-05, 3.27826345e-04, 6.85471784e-04, 3.14865718e-03,
       1.00467534e-02, 1.31109226e-02, 1.37823048e-02, 2.50061096e-02,
       6.95228704e-02, 6.29228158e-02, 2.49060847e-04, 2.07801358e-03,
       3.48485706e-04, 1.34209727e-02, 1.16200938e-02])

In [39]:
import numpy as np
sorted(zip(rf_model.feature_importances_, df_enc.columns), reverse=True)

[(0.13481401913442861, 'is_canceled'),
 (0.09057623305657685, 'days_in_waiting_list'),
 (0.06952287044870469, 'market_segment_Online TA'),
 (0.06895753572576335, 'arrival_date_month'),
 (0.06292281580286102, 'deposit_type_No Deposit'),
 (0.062012316910280765, 'country_PRI'),
 (0.05752213057397489, 'required_car_parking_spaces'),
 (0.05201681008465542, 'arrival_date_year'),
 (0.042888937348983164, 'stays_in_weekend_nights'),
 (0.029527597241249745, 'is_repeated_guest'),
 (0.027373379388993077, 'arrival_date_day_of_month'),
 (0.026148434996083082, 'lead_time'),
 (0.025006109582814486, 'market_segment_Offline TA/TO'),
 (0.020611922298517087, 'adr'),
 (0.02052466119892551, 'previous_bookings_not_canceled'),
 (0.01641250629015309, 'stays_in_week_nights'),
 (0.013782304806074721, 'market_segment_Groups'),
 (0.01342097272401889, 'customer_type_Group'),
 (0.013110922604765379, 'market_segment_Direct'),
 (0.011620093838896629, 'customer_type_Transient'),
 (0.010046753382230307, 'market_segment_Corporate'),
 (0.008536873010656807, 'adults'),
 (0.008237242324099931, 'country_GAB'),
 (0.007144483634940404, 'country_FJI'),
 (0.007137226940179047, 'hotel_City Hotel'),
 (0.007090335084107652, 'total_of_special_requests'),
 (0.0063842928419326735, 'hotel_Resort Hotel'),
 (0.005741160301602611, 'country_CZE'),
 (0.005540722288189322, 'country_EGY'),
 (0.0052383076208141295, 'previous_cancellations'),
 (0.004609848293869455, 'meal_FB'),
 (0.0037535761832799574, 'meal_HB'),
 (0.0034471423598027655, 'booking_changes'),
 (0.003253791770747364, 'country_ISR'),
 (0.003148657177090935, 'market_segment_Complementary'),
 (0.003107367218830589, 'country_IND'),
 (0.0029828860005997847, 'babies'),
 (0.0025879404007960287, 'country_BOL'),
 (0.002349116029144314, 'country_URY'),
 (0.002204747154991246, 'country_BDI'),
 (0.0021798140333591, 'country_CAF'),
 (0.0021476144444064864, 'country_NIC'),
 (0.002078013582316686, 'deposit_type_Refundable'),
 (0.0019059423637372624, 'country_CHL'),
 (0.0017562117973321436, 'country_AUS'),
 (0.0016582129404840132, 'country_CMR'),
 (0.0014523559122152946, 'country_SVN'),
 (0.0012012678011188815, 'country_PLW'),
 (0.0011594511637166669, 'country_ROU'),
 (0.0011312972048522954, 'country_ABW'),
 (0.0010821480047748069, 'children'),
 (0.0010032448844080285, 'country_ISL'),
 (0.000990285784506222, 'meal_SC'),
 (0.0009500533817905983, 'meal_BB'),
 (0.000936793010148762, 'country_QAT'),
 (0.0009358014635108406, 'country_NLD'),
 (0.0007517970541451416, 'country_ATF'),
 (0.0007209607221739747, 'country_LTU'),
 (0.0007193058886826736, 'country_ETH'),
 (0.0007165655336268714, 'country_DMA'),
 (0.0006962428035052625, 'country_MAC'),
 (0.0006854717835374851, 'market_segment_Aviation'),
 (0.0006495853386966065, 'country_TUN'),
 (0.0005531030493807509, 'country_HRV'),
 (0.0004012870882148873, 'country_ARE'),
 (0.0003648315421720846, 'country_AND'),
 (0.0003508556662570196, 'country_CYP'),
 (0.0003484857058792576, 'customer_type_Contract'),
 (0.00034487823511750003, 'country_IMN'),
 (0.0003436825075488234, 'country_JOR'),
 (0.00032782634535367955, 'country_ZWE'),
 (0.0003251134411597369, 'country_IRL'),
 (0.00030122409114804587, 'country_KNA'),
 (0.0002798071655087849, 'country_PER'),
 (0.00025371288239296914, 'country_VNM'),
 (0.00024906084668715453, 'deposit_type_Non Refund'),
 (0.00023302535069936678, 'country_GNB'),
 (0.00021445020137463204, 'country_RWA'),
 (0.00021365654310331593, 'country_CN'),
 (0.00020957575293739877, 'country_MNE'),
 (0.0002076070228302337, 'country_HND'),
 (0.00020703846925139736, 'country_NCL'),
 (0.0002001405928611173, 'country_ESP'),
 (0.00019633472872402459, 'country_NPL'),
 (0.0001884448074412056, 'country_TGO'),
 (0.00018001098180266578, 'country_DOM'),
 (0.00017884316861109737, 'country_SVK'),
 (0.0001682272750403822, 'country_SUR'),
 (0.0001569908531307585, 'country_GHA'),
 (0.00015430136215508435, 'country_HUN'),
 (0.00015062463152508895, 'country_BGD'),
 (0.0001479902422407057, 'country_MDV'),
 (0.00014607770286337733, 'country_UGA'),
 (0.00014126551525434652, 'country_TMP'),
 (0.00013975660186040667, 'country_LVA'),
 (0.00013775346264867556, 'country_UZB'),
 (0.00013556156580879248, 'country_DZA'),
 (0.00013336994018331934, 'country_GUY'),
 (0.00012839828180786247, 'country_LKA'),
 (0.00012642751317182331, 'country_SEN'),
 (0.00012505961466877523, 'country_CHE'),
 (0.0001172557097173939, 'country_LAO'),
 (0.00011369135662438973, 'country_TUR'),
 (0.00011052520073204258, 'country_PYF'),
 (0.00010131283957031246, 'country_SMR'),
 (9.152407770275332e-05, 'country_BIH'),
 (8.962892541262583e-05, 'country_GBR'),
 (8.813322174672643e-05, 'country_LUX'),
 (8.575450924481058e-05, 'country_IRQ'),
 (8.454158822451695e-05, 'country_CYM'),
 (8.207090072492094e-05, 'country_MLI'),
 (7.841608626002868e-05, 'country_UMI'),
 (7.239416055199734e-05, 'country_MDG'),
 (7.047810802471813e-05, 'country_MWI'),
 (6.34904433598911e-05, 'country_COM'),
 (6.311108917529795e-05, 'country_PAN'),
 (6.29311630499629e-05, 'country_KOR'),
 (4.946076542344802e-05, 'country_ECU'),
 (4.89185577697574e-05, 'country_JAM'),
 (4.753807087118168e-05, 'country_AUT'),
 (4.53139109094477e-05, 'country_DNK'),
 (4.324314015408111e-05, 'country_TWN'),
 (4.1439476844891224e-05, 'country_BFA'),
 (3.710686688741356e-05, 'country_NZL'),
 (3.4747952240422965e-05, 'country_SDN'),
 (3.320724142896566e-05, 'country_OMN'),
 (3.288991728536076e-05, 'country_POL'),
 (3.264381354256622e-05, 'country_JPN'),
 (3.0415093090651804e-05, 'country_PRT'),
 (2.8957700968906303e-05, 'country_BGR'),
 (2.8821242741959943e-05, 'country_ALB'),
 (2.8667160308500495e-05, 'country_KAZ'),
 (2.5767613682806787e-05, 'country_PAK'),
 (2.55100299503224e-05, 'country_JEY'),
 (2.409055294435324e-05, 'country_BHS'),
 (2.2215627341431444e-05, 'country_ZAF'),
 (2.221254677390645e-05, 'country_CIV'),
 (2.1905471996493215e-05, 'country_GGY'),
 (1.817912917667506e-05, 'country_THA'),
 (1.7868777109390942e-05, 'country_GLP'),
 (1.7492011717906188e-05, 'country_TJK'),
 (1.711144204087655e-05, 'country_MRT'),
 (1.5099693370718384e-05, 'country_USA'),
 (1.5083760043645492e-05, 'country_LCA'),
 (1.4914842422854156e-05, 'country_AIA'),
 (1.4386196165091302e-05, 'country_ZMB'),
 (1.3904500714250064e-05, 'country_MYS'),
 (1.3837907823907331e-05, 'country_IDN'),
 (1.357627287002606e-05, 'country_TZA'),
 (1.3434934612682607e-05, 'country_CPV'),
 (1.3115582139017112e-05, 'country_CHN'),
 (1.2821231994469308e-05, 'country_BEL'),
 (1.2366888214886335e-05, 'country_MMR'),
 (1.156563082720724e-05, 'country_SWE'),
 (1.1336333637322437e-05, 'country_STP'),
 (1.0551506950746536e-05, 'country_GIB'),
 (9.888087753156036e-06, 'country_ATA'),
 (9.836456971321091e-06, 'country_VGB'),
 (9.5846916760467e-06, 'country_NGA'),
 (8.469512307327538e-06, 'country_BLR'),
 (7.985250345088735e-06, 'country_ARG'),
 (7.856127290700723e-06, 'country_EST'),
 (7.388540968135373e-06, 'country_KEN'),
 (6.858220530525812e-06, 'country_SGP'),
 (6.8151187044341225e-06, 'country_IRN'),
 (6.804487212790077e-06, 'country_SYR'),
 (6.2686609332459405e-06, 'country_FRA'),
 (6.1362431517439145e-06, 'country_CRI'),
 (5.424229651352579e-06, 'country_MAR'),
 (5.105592582562921e-06, 'country_ASM'),
 (4.8653099782568655e-06, 'country_MEX'),
 (4.714821794720083e-06, 'country_LBN'),
 (4.642473059768049e-06, 'country_LIE'),
 (4.60862636993559e-06, 'meal_Undefined'),
 (4.083836966704692e-06, 'country_ITA'),
 (4.040104126220043e-06, 'country_MOZ'),
 (3.850879125313237e-06, 'country_SLE'),
 (3.596325764652006e-06, 'country_AGO'),
 (3.2647699970815794e-06, 'country_NAM'),
 (3.0729225664259997e-06, 'country_BWA'),
 (3.034680946629187e-06, 'country_RUS'),
 (2.856893325527842e-06, 'country_VEN'),
 (2.695836327190043e-06, 'country_GEO'),
 (2.3480986297792953e-06, 'country_FIN'),
 (2.2792284101059156e-06, 'country_PHL'),
 (2.230476816184482e-06, 'country_AZE'),
 (2.084257084896941e-06, 'country_ARM'),
 (1.8863799322375395e-06, 'country_BRA'),
 (1.5299405284363001e-06, 'country_DJI'),
 (1.522437947435013e-06, 'country_KWT'),
 (1.2405402062417978e-06, 'country_FRO'),
 (1.030385729500362e-06, 'country_LBY'),
 (8.330513439367711e-07, 'country_BHR'),
 (8.174427006823689e-07, 'country_BEN'),
 (7.639726936113921e-07, 'country_KIR'),
 (7.372805022643551e-07, 'country_DEU'),
 (4.970660987712419e-07, 'country_CUB'),
 (4.36113232228334e-07, 'country_SRB'),
 (3.3447481185275295e-07, 'country_NOR'),
 (2.425716380506388e-07, 'country_MCO'),
 (8.418917527022363e-08, 'country_SYC'),
 (7.868222852137888e-08, 'country_MUS'),
 (1.4214263893044262e-08, 'country_GTM'),
 (0.0, 'country_UKR'),
 (0.0, 'country_SLV'),
 (0.0, 'country_SAU'),
 (0.0, 'country_PRY'),
 (0.0, 'country_MYT'),
 (0.0, 'country_MLT'),
 (0.0, 'country_MKD'),
 (0.0, 'country_KHM'),
 (0.0, 'country_HKG'),
 (0.0, 'country_GRC'),
 (0.0, 'country_COL'),
 (0.0, 'country_BRB')]