In [1]:
# Import libraries
import pandas as pd

In [2]:
# Reading in dataset
file_path = r"C:\Users\aleah\Class\Final_Project\Hotel_Repo\Resources\hotel_bookings.csv"
df = pd.read_csv(file_path)
df.head(10)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015,July,27,1,0,2,2,...,No Deposit,NaN,NaN,0,Transient,107.0,0,0,Check-Out,2015-07-03
7,Resort Hotel,0,9,2015,July,27,1,0,2,2,...,No Deposit,303.0,NaN,0,Transient,103.0,0,1,Check-Out,2015-07-03
8,Resort Hotel,1,85,2015,July,27,1,0,3,2,...,No Deposit,240.0,NaN,0,Transient,82.0,0,1,Canceled,2015-05-06
9,Resort Hotel,1,75,2015,July,27,1,0,3,2,...,No Deposit,15.0,NaN,0,Transient,105.5,0,0,Canceled,2015-04-22

In [3]:
# Copy of original df first
hotels_df_2 = df.copy()

# Dropping the 'agent' and 'company' columns 
hotels_df_2.drop(columns = ['agent', 'company'], inplace=True)
hotels_df_2.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type',
       'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date'],
      dtype='object')

In [4]:
# Dropping the 4 ROWS with missing 'children' data
# Dropping the 488 ROWS with missing 'country' data
hotels_df_2 = hotels_df_2.dropna()

# Rechecking NaN values 
for column in hotels_df_2.columns:
    print(f"Column {column} has {hotels_df_2[column].isnull().sum()} null values.")

Column hotel has 0 null values.
Column is_canceled has 0 null values.
Column lead_time has 0 null values.
Column arrival_date_year has 0 null values.
Column arrival_date_month has 0 null values.
Column arrival_date_week_number has 0 null values.
Column arrival_date_day_of_month has 0 null values.
Column stays_in_weekend_nights has 0 null values.
Column stays_in_week_nights has 0 null values.
Column adults has 0 null values.
Column children has 0 null values.
Column babies has 0 null values.
Column meal has 0 null values.
Column country has 0 null values.
Column market_segment has 0 null values.
Column distribution_channel has 0 null values.
Column is_repeated_guest has 0 null values.
Column previous_cancellations has 0 null values.
Column previous_bookings_not_canceled has 0 null values.
Column reserved_room_type has 0 null values.
Column assigned_room_type has 0 null values.
Column booking_changes has 0 null values.
Column deposit_type has 0 null values.
Column days_in_waiting_list has 0 null values.
Column customer_type has 0 null values.
Column adr has 0 null values.
Column required_car_parking_spaces has 0 null values.
Column total_of_special_requests has 0 null values.
Column reservation_status has 0 null values.
Column reservation_status_date has 0 null values.

In [10]:
# Dropping more columns that may not be necessary for our analysis 
# Danira dropped: 'reservation_status_date','reserved_room_type','assigned_room_type','arrival_date_week_number','distribution_channel','country'
# Keeping 'reserved_room_type', 'distribution_channel','country'
# Keeping "arrival_date_year", "arrival_date_day_of_month", "booking_changes" (we dropped it in the shared colab file)
hotels_df_2.drop(columns = ["reservation_status_date", "assigned_room_type", "arrival_date_week_number"], inplace=True)

# dropping reservation_status too
hotels_df_2.drop(columns = ["reservation_status"], inplace=True)
hotels_df_2.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_day_of_month',
       'stays_in_weekend_nights', 'stays_in_week_nights', 'adults', 'children',
       'babies', 'meal', 'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'booking_changes', 'deposit_type', 'days_in_waiting_list',
       'customer_type', 'adr', 'required_car_parking_spaces',
       'total_of_special_requests'],
      dtype='object')

In [15]:
import sklearn as skl

# Prepping country column for encoding
country_counts = hotels_df_2.country.value_counts()
country_counts.head(15)

PRT    48586
GBR    12129
FRA    10415
ESP     8568
DEU     7287
ITA     3766
IRL     3375
BEL     2342
BRA     2224
NLD     2104
USA     2097
CHE     1730
CN      1279
AUT     1263
SWE     1024
Name: country, dtype: int64

In [16]:
# Determine which values to replace
replace_countries = list(country_counts[country_counts < 2000].index)

# Replace in DataFrame
for item in replace_countries:
    hotels_df_2.country = hotels_df_2.country.replace(item,"Other")


# Check to make sure binning was successful
hotels_df_2.country.value_counts()

PRT      48586
Other    16005
GBR      12129
FRA      10415
ESP       8568
DEU       7287
ITA       3766
IRL       3375
BEL       2342
BRA       2224
NLD       2104
USA       2097
Name: country, dtype: int64

In [17]:
# Encoding month column values
months_num = {
    "January": 1,
    "February": 2,
    "March": 3,
    "April": 4,
    "May": 5,
    "June": 6,
    "July": 7,
    "August": 8,
    "September": 9,
    "October": 10,
    "November": 11,
    "December": 12,
}


hotels_df_2['arrival_date_month'] = hotels_df_2['arrival_date_month'].apply(lambda x : months_num[x])
hotels_df_2.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,...,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,booking_changes,deposit_type,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests
0,Resort Hotel,0,342,2015,7,1,0,0,2,0.0,...,0,0,C,3,No Deposit,0,Transient,0.0,0,0
1,Resort Hotel,0,737,2015,7,1,0,0,2,0.0,...,0,0,C,4,No Deposit,0,Transient,0.0,0,0
2,Resort Hotel,0,7,2015,7,1,0,1,1,0.0,...,0,0,A,0,No Deposit,0,Transient,75.0,0,0
3,Resort Hotel,0,13,2015,7,1,0,1,1,0.0,...,0,0,A,0,No Deposit,0,Transient,75.0,0,0
4,Resort Hotel,0,14,2015,7,1,0,2,2,0.0,...,0,0,A,0,No Deposit,0,Transient,98.0,0,1

In [18]:
from sklearn.preprocessing import StandardScaler, OneHotEncoder

hotel_cat = hotels_df_2.dtypes[hotels_df_2.dtypes == 'object'].index.tolist()

hotels_df_2[hotel_cat].nunique()

hotel                    2
meal                     5
country                 12
market_segment           7
distribution_channel     5
reserved_room_type      10
deposit_type             3
customer_type            4
dtype: int64

In [19]:
# Create OneHotEncoder instance 
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(hotels_df_2[hotel_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(hotel_cat)
encode_df.head()

C:\Users\aleah\anaconda3\envs\mlenv\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,hotel_City Hotel,hotel_Resort Hotel,meal_BB,meal_FB,meal_HB,meal_SC,meal_Undefined,country_BEL,country_BRA,country_DEU,...,reserved_room_type_H,reserved_room_type_L,reserved_room_type_P,deposit_type_No Deposit,deposit_type_Non Refund,deposit_type_Refundable,customer_type_Contract,customer_type_Group,customer_type_Transient,customer_type_Transient-Party
0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0

In [20]:
# Merge one-hot encoded features and drop the originals
hotels_df_2 = hotels_df_2.merge(encode_df,left_index=True, right_index=True)
hotels_df_2 = hotels_df_2.drop(hotel_cat,1)
hotels_df_2.head()

C:\Users\aleah\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,...,reserved_room_type_H,reserved_room_type_L,reserved_room_type_P,deposit_type_No Deposit,deposit_type_Non Refund,deposit_type_Refundable,customer_type_Contract,customer_type_Group,customer_type_Transient,customer_type_Transient-Party
0,0,342,2015,7,1,0,0,2,0.0,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0,737,2015,7,1,0,0,2,0.0,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0,7,2015,7,1,0,1,1,0.0,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0,13,2015,7,1,0,1,1,0.0,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0,14,2015,7,1,0,2,2,0.0,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0

In [21]:
# Split our preprocessed data into our features and target arrays
y = hotels_df_2["is_canceled"].values
X = hotels_df_2.drop(["is_canceled"],1).values

from sklearn.model_selection import train_test_split
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

C:\Users\aleah\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

In [22]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [23]:
# Create our logistic regression model
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(solver='lbfgs', max_iter=100, random_state=1)
classifier

LogisticRegression(random_state=1)

In [24]:
# Training the model
classifier.fit(X_train_scaled, y_train)

LogisticRegression(random_state=1)

In [25]:
# Create predictions
y_pred = classifier.predict(X_test_scaled)
pd.DataFrame({"Prediction": y_pred, "Actual": y_test})

       Prediction  Actual
0               0       0
1               1       0
2               1       1
3               0       0
4               0       0
...           ...     ...
29597           1       1
29598           0       0
29599           0       0
29600           0       0
29601           1       1

[29602 rows x 2 columns]

In [26]:
# Validate the model's performance
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_pred))

0.7838321735017905

In [27]:
# Validating the model using the test data
print(f"Training Data Score: {classifier.score(X_train_scaled, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test_scaled, y_test)}")

Training Data Score: 0.7867325796135309
Testing Data Score: 0.7838321735017905

In [28]:
# Random Forrest
from sklearn.ensemble import RandomForestClassifier

# Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=128, random_state=78) 

# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

In [29]:
# Making predictions using the testing data.
predictions = rf_model.predict(X_test_scaled)

In [30]:
# Calculating the confusion matrix.
from sklearn.metrics import confusion_matrix, classification_report

cm = confusion_matrix(y_test, predictions)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

cm_df

          Predicted 0  Predicted 1
Actual 0        17335         1142
Actual 1         2854         8271

In [31]:
# Calculating the accuracy score.
acc_score = accuracy_score(y_test, predictions)
acc_score

0.8650091210053374