In [3]:
# Import libraries
import pandas as pd

In [4]:
# Reading in dataset
file_path = r"C:\Users\aleah\Class\Final_Project\Hotel_Repo\Resources\clean_hotel_df.csv"
df = pd.read_csv(file_path)
df.head(10)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,...,previous_cancellations,previous_bookings_not_canceled,booking_changes,deposit_type,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status
0,Resort Hotel,0,342,2015,July,1,0,0,2,0.0,...,0,0,3,No Deposit,0,Transient,0.0,0,0,Check-Out
1,Resort Hotel,0,737,2015,July,1,0,0,2,0.0,...,0,0,4,No Deposit,0,Transient,0.0,0,0,Check-Out
2,Resort Hotel,0,7,2015,July,1,0,1,1,0.0,...,0,0,0,No Deposit,0,Transient,75.0,0,0,Check-Out
3,Resort Hotel,0,13,2015,July,1,0,1,1,0.0,...,0,0,0,No Deposit,0,Transient,75.0,0,0,Check-Out
4,Resort Hotel,0,14,2015,July,1,0,2,2,0.0,...,0,0,0,No Deposit,0,Transient,98.0,0,1,Check-Out
5,Resort Hotel,0,14,2015,July,1,0,2,2,0.0,...,0,0,0,No Deposit,0,Transient,98.0,0,1,Check-Out
6,Resort Hotel,0,0,2015,July,1,0,2,2,0.0,...,0,0,0,No Deposit,0,Transient,107.0,0,0,Check-Out
7,Resort Hotel,0,9,2015,July,1,0,2,2,0.0,...,0,0,0,No Deposit,0,Transient,103.0,0,1,Check-Out
8,Resort Hotel,1,85,2015,July,1,0,3,2,0.0,...,0,0,0,No Deposit,0,Transient,82.0,0,1,Canceled
9,Resort Hotel,1,75,2015,July,1,0,3,2,0.0,...,0,0,0,No Deposit,0,Transient,105.5,0,0,Canceled

In [5]:
# Drop more columns 
df.drop(columns = ["reservation_status", "arrival_date_year", "arrival_date_day_of_month"], inplace=True)
df.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_month',
       'stays_in_weekend_nights', 'stays_in_week_nights', 'adults', 'children',
       'babies', 'meal', 'country', 'market_segment', 'is_repeated_guest',
       'previous_cancellations', 'previous_bookings_not_canceled',
       'booking_changes', 'deposit_type', 'days_in_waiting_list',
       'customer_type', 'adr', 'required_car_parking_spaces',
       'total_of_special_requests'],
      dtype='object')

In [10]:
import sklearn as skl

# Prepping country column for encoding
country_counts = df.country.value_counts()
country_counts.head(11)

PRT    48586
GBR    12129
FRA    10415
ESP     8568
DEU     7287
ITA     3766
IRL     3375
BEL     2342
BRA     2224
NLD     2104
USA     2097
Name: country, dtype: int64

In [13]:
# Determine which values to replace
replace_countries = list(country_counts[country_counts < 2104].index)

# Replace in DataFrame
for item in replace_countries:
    df.country = df.country.replace(item,"Other")


# Check to make sure binning was successful
df.country.value_counts()

PRT      48586
Other    18102
GBR      12129
FRA      10415
ESP       8568
DEU       7287
ITA       3766
IRL       3375
BEL       2342
BRA       2224
NLD       2104
Name: country, dtype: int64

In [15]:
# Encoding month column values
months_num = {
    "January": 1,
    "February": 2,
    "March": 3,
    "April": 4,
    "May": 5,
    "June": 6,
    "July": 7,
    "August": 8,
    "September": 9,
    "October": 10,
    "November": 11,
    "December": 12,
}


df['arrival_date_month'] = df['arrival_date_month'].apply(lambda x : months_num[x])
df.head()

,hotel,is_canceled,lead_time,arrival_date_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,...,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,booking_changes,deposit_type,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests
0,Resort Hotel,0,342,7,0,0,2,0.0,0,BB,...,0,0,0,3,No Deposit,0,Transient,0.0,0,0
1,Resort Hotel,0,737,7,0,0,2,0.0,0,BB,...,0,0,0,4,No Deposit,0,Transient,0.0,0,0
2,Resort Hotel,0,7,7,0,1,1,0.0,0,BB,...,0,0,0,0,No Deposit,0,Transient,75.0,0,0
3,Resort Hotel,0,13,7,0,1,1,0.0,0,BB,...,0,0,0,0,No Deposit,0,Transient,75.0,0,0
4,Resort Hotel,0,14,7,0,2,2,0.0,0,BB,...,0,0,0,0,No Deposit,0,Transient,98.0,0,1

In [17]:
from sklearn.preprocessing import StandardScaler, OneHotEncoder

hotel_cat = df.dtypes[df.dtypes == 'object'].index.tolist()

df[hotel_cat].nunique()

hotel              2
meal               5
country           11
market_segment     7
deposit_type       3
customer_type      4
dtype: int64

In [18]:
# Create OneHotEncoder instance 
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(df[hotel_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(hotel_cat)
encode_df.head()

C:\Users\aleah\anaconda3\envs\mlenv\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,hotel_City Hotel,hotel_Resort Hotel,meal_BB,meal_FB,meal_HB,meal_SC,meal_Undefined,country_BEL,country_BRA,country_DEU,...,market_segment_Groups,market_segment_Offline TA/TO,market_segment_Online TA,deposit_type_No Deposit,deposit_type_Non Refund,deposit_type_Refundable,customer_type_Contract,customer_type_Group,customer_type_Transient,customer_type_Transient-Party
0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0

In [19]:
# Merge one-hot encoded features and drop the originals
df = df.merge(encode_df,left_index=True, right_index=True)
df = df.drop(hotel_cat,1)
df.head()

C:\Users\aleah\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

,is_canceled,lead_time,arrival_date_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,is_repeated_guest,previous_cancellations,...,market_segment_Groups,market_segment_Offline TA/TO,market_segment_Online TA,deposit_type_No Deposit,deposit_type_Non Refund,deposit_type_Refundable,customer_type_Contract,customer_type_Group,customer_type_Transient,customer_type_Transient-Party
0,0,342,7,0,0,2,0.0,0,0,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0,737,7,0,0,2,0.0,0,0,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0,7,7,0,1,1,0.0,0,0,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0,13,7,0,1,1,0.0,0,0,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0,14,7,0,2,2,0.0,0,0,0,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0

In [20]:
# Split our preprocessed data into our features and target arrays
y = df["is_canceled"].values
X = df.drop(["is_canceled"],1).values

from sklearn.model_selection import train_test_split
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

C:\Users\aleah\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

In [21]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [22]:
# Create our logistic regression model
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(solver='lbfgs', max_iter=100, random_state=1)
classifier

LogisticRegression(random_state=1)

In [23]:
# Training the model
classifier.fit(X_train_scaled, y_train)

LogisticRegression(random_state=1)

In [24]:
# Create predictions
y_pred = classifier.predict(X_test_scaled)
pd.DataFrame({"Prediction": y_pred, "Actual": y_test})

       Prediction  Actual
0               0       0
1               0       0
2               0       0
3               0       0
4               1       1
...           ...     ...
29720           0       1
29721           0       0
29722           1       1
29723           0       1
29724           0       0

[29725 rows x 2 columns]

In [25]:
# Validate the model's performance
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_pred))

0.8050126156433978

In [26]:
# Validating the model using the test data
print(f"Training Data Score: {classifier.score(X_train_scaled, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test_scaled, y_test)}")

Training Data Score: 0.8079351373173494
Testing Data Score: 0.8050126156433978

In [27]:
# Random Forrest
from sklearn.ensemble import RandomForestClassifier

In [28]:
# Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=128, random_state=78)

In [29]:
# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

In [30]:
# Making predictions using the testing data.
predictions = rf_model.predict(X_test_scaled)

In [32]:
# Calculating the confusion matrix.
from sklearn.metrics import confusion_matrix, classification_report

cm = confusion_matrix(y_test, predictions)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

cm_df

          Predicted 0  Predicted 1
Actual 0        17353         1340
Actual 1         2308         8724

In [33]:
# Calculating the accuracy score.
acc_score = accuracy_score(y_test, predictions)
acc_score

0.8772750210260724